<body>
<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a href="" class="navbar-brand">LoopLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home-top-section">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#explore-head-section">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#creat-head-section">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#share-head-section">Share</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Head Section-->
<section id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="display-4">Build <strong>social profiles</strong> and gain revenue and <strong>profits</strong></h1>
            <div class="d-flexflex-row">
              <div>
                <i class="fa fa-angry"></i>
              </div>

            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
